appdirs==1.4.4
autopep8==1.5.6
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==2.0.0rc2
itsdangerous==2.0.0rc2
Jinja2==3.0.0rc2
MarkupSafe==2.0.0rc2
prettytable==2.1.0
psycopg2==2.8.6
pycodestyle==2.7.0
six==1.16.0
texttable==1.6.3
toml==0.10.2
virtualenv==20.4.6
wcwidth==0.2.5
Werkzeug==2.0.0rc5