{% extends 'base.html' %}

{% block title %}
    Add answer
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
    <table>
        <tr>{% for element in question %}
            <p>{{ element }} </p>
        {% endfor %}
        </tr>
    </table>
    <h3>Add answer:</h3>
    <form method="POST" enctype="multipart/form-data">
        <p><label for="answer"></label><input type="text" name="answer" cols="50" id="answer" autofocus/></p>
        <p><input type="file" name="image" accept="*.jpg *.png *.jpeg"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}