{% extends 'base.html' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add answer</title>
    </head>
    <body>
    <br>
    ANSWER
    <br>
    <table>
        <tr>
            <td>{{ answer }}</td>
        </tr>
    </table>
    <br><br><br>
    <form method='POST'>
        <p><label>ADD comment</label> <label>
            <input type="text" name='comment'/>
        </label></p>
        <input type="submit" value="Reply">
    </form>

    <br><br>
    <div style="text-align: center;">
        <a href="/list/{{ question_id }}">Back to the question</a><br><br>
        <!--suppress HtmlUnknownTarget -->
        <a href="/list">Back to the questions list</a><br><br>
        <a href="/">Back to the main page</a>
    </div>
    </body>
{% endblock %}
</html>