{% extends 'base.html' %}

{% block title %}
    Add question
{% endblock %}


{% block head %}

{% endblock %}



{% block body %}
    <div class="container">
    <h3>Add new question:</h3>
    <!--suppress HtmlUnknownTarget -->
    <form action="/add-question" method="POST" enctype="multipart/form-data">
        <p><label for="title"></label><textarea name="title" id="title" cols="50" autofocus>Title</textarea></p>
        <p><label>
            <textarea name="message" rows="10" cols="70">Question</textarea>
        </label></p>
        <p><input type="file" name="image" accept="*.jpg *.png *.jpeg"></p>
        <p><input type="submit" value="Ask Mate!"></p>
    </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}