{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block title %}Add question{% endblock %}
</head>
<body>
{% block body %}
    <h3>Add new question:</h3>
    <!--suppress HtmlUnknownTarget -->
    <form action="/add-question" method="POST" enctype="multipart/form-data">
        <p><label for="title"></label><textarea name="title" id="title" cols="50" autofocus>Title</textarea></p>
        <p><label>
            <textarea name="message" rows="10" cols="70">Question</textarea>
        </label></p>
        <p><input type="file" name="image" accept="*.jpg *.png *.jpeg"></p>
        <p><input type="submit" value="Add question"></p>
    </form>
{% endblock %}
</body>
</html> 