{% extends 'base.html' %}

{% block title %}
    Add tag
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
    <h3>{{ question['title'] }}</h3>
    <h4>{{ question['message'] }}</h4>
    <br><br><br>
    <h3>Add new tag:</h3>
    <form action="/question/{{ question_id }}/new-tag" method="POST" enctype="multipart/form-data">
        <p>Choose a tag from the list or create a new one:</p>
        <p><select name="old_tag">
            <option>new tag</option>
            {% for tag in tags %}
                <option>
                    {{ tag }}
                </option>
            {% endfor %}
        </select></p>
        <p><label for="new_tag"></label><input type="text" name="new_tag" cols="50" id="new_tag" autofocus/></p>
        <p><input type="submit" value="Add tag"></p>
    </form>
            <div style="text-align: center;"><p><a class="simple_button" href="{{ url_for('show_question',question_id=question_id) }}"> Back to question </a></p></div>
    </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}