{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Delete{% endblock %}</title>
</head>
<body>
{% block body %}
    <h3>Are you sure you want to delete?</h3>
    <a>
        <form method="POST">
            <a><input type="submit" name="you_sure_button" value="Yes"></a>
            <a><input type="submit" name="you_sure_button" value="No"></a>
        </form>
    </a>
{% endblock %}
</body>
{% block footer %}{% endblock %}
</html>


{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}