{% extends 'base.html' %}

{% block title %}
    Delete
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div  style="text-align: center" class="container">
    <h3>Are you sure you want to delete?</h3>
    <a>
        <form method="POST">
            <a><input type="submit" name="you_sure_button" value="Yes"></a>
            <a><input type="submit" name="you_sure_button" value="No"></a>
        </form>
    </a>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}

{#todo:what is delete comment and delete message for? its probably the same as this one#}