{% extends 'base.html' %}

{% block title %}
    Edit question
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <h2>Edit your question:</h2>
    <form action="/question/{{ question_id }}/edit" method="post">
        <p><label>
            <textarea name="title" id="title" cols="50" autofocus>{{ title }}</textarea>
        </label></p>
        <p><label>
            <textarea name="message">{{ message }}</textarea>
        </label></p>
        <p><input type="submit" value="Save"></p>
        <p><input type="submit" value="Cancel"></p>
    </form>
{% endblock %}

{% block footer %}

{% endblock %}