{% extends 'base.html' %}

{% block title %}
    Edit comment
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container" >
    <form action="/comment/{{ id }}/edit" method="post">
        <h3> Edit your comment:</h3>
        <p><textarea name="message"> {{ message }}</textarea></p>
        <input type="submit" value="Submit">
    </form>
    <div style="text-align: center;"><p><a class="simple_button" href="{{ url_for('show_question',question_id=question_id) }}"> Back to question </a></p></div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}