{% extends 'base.html' %}

{% block title %}
    Edit question
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
    <h3>Edit your question:</h3>
    <form action="/question/{{ question_id }}/edit" method="post">
        <p><label>
            <textarea name="title" id="title" cols="50" autofocus>{{ title }}</textarea>
        </label></p>
        <p><label>
            <textarea name="message">{{ message }}</textarea>
        </label></p>
        <p><input type="submit" value="Submit"></p>
        <div style="text-align: center;"><p><a class="simple_button" href="{{ url_for('show_question',question_id=question_id) }}"> Back to question </a></p></div>
    </div>
    </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}