{#{% extends 'base.html' %}#}
{##}
{#{% block title %}#}
{#    Main Page#}
{#{% endblock %}#}
{##}
{#{% block head %}#}
{##}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    <h1>AskMate</h1>#}
{#    <!--suppress HtmlUnknownTarget -->#}
{#    <form action='/search' method="get">#}
{#        <p><label>#}
{#            <input type="search" name="search_phrase" autofocus>#}
{#        </label></p>#}
{#        <button type="submit" id="search_submit" name="search_submit" value="true">Search</button>#}
{#    </form>#}
{#    <p><a href="{{ url_for('list_questions') }}">Show all questions list</a></p>#}
{#    {% if session['username'] %}#}
{#    <p><a href="{{ url_for('add_question') }}">Add new question</a></p>#}
{#    {% else %}#}
{#    <p><a href="{{ url_for('login_user') }}">Sign in to add new question</a></p>#}
{#    {% endif %}#}
{##}
{#    <h2>Latest questions:</h2>#}
{##}
{#    <table>#}
{#        {% for header in headers %}#}
{#            <th>{{ header.upper().replace('', ' ') }}</th>#}
{#        {% endfor %}#}
{#        {% for question in user_questions %}#}
{#            <tr>#}
{#                {% for key in question.keys() %}#}
{#                    <td>#}
{#                        {% if key == 'image' %}#}
{#                            <img src="/static/{{ question['image'] }}" alt="" width=150 height=100>#}
{#                        {% endif %}#}
{#                        {{ question[key] }}#}
{#                        {% if key == 'vote_number' %}#}
{#                            <!--suppress HtmlUnknownTarget -->#}
{#                            <form action='/list' method="POST">#}
{#                            {% if session['username'] %}#}
{#                                <button name="vote" value="upvote {{ question['id'] }}">upvote</button>#}
{#                                <button name="vote" value="downvote {{ question['id'] }}">downvote</button>#}
{#                            {% endif %}#}
{#                            </form>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="4">#}
{#                <td>#}
{#                    <a href="/list/{{ question['id'] }}">Go to {{ question[id] }} question</a><BR><br><br>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{##}
{#    {% if session['username'] %}#}
{#        <a href="/users">Show users list</a><br>#}
{#    {% else %}#}
{#        <a href="{{ url_for('login_user') }}">Sign in to see users list</a>#}
{#    {% endif %}#}
{#    <a href="{{ url_for('list_tags') }}">Show tag list</a>#}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{##}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block title %}
    Main Page
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <h1>AskMate</h1>
    <!--suppress HtmlUnknownTarget -->
    <form action='/search' method="get">
        <p><label>
            <input type="search" name="search_phrase" autofocus>
        </label></p>
        <button type="submit" id="search_submit" name="search_submit" value="true">Search</button>
    </form>
    <p><a href="{{ url_for('list_questions') }}">Show all questions list</a></p>
    {% if session['username'] %}
    <p><a href="{{ url_for('add_question') }}">Add new question</a></p>
    {% else %}
    <p><a href="{{ url_for('login_user') }}">Sign in to add new question</a></p>
    {% endif %}

    <h2>Latest questions:</h2>

    <table>
        {% for header in headers %}
            <th>{{ header.upper().replace('', ' ') }}</th>
        {% endfor %}
        {% for question in user_questions %}
            <tr>
                {% for key in question.keys() %}
                    <td>
                        {% if key == 'image' %}
                            <img src="/static/{{ question['image'] }}" alt="" width=150 height=100>
                        {% endif %}
                        {{ question[key] }}
                        {% if key == 'vote_number' %}
                            <!--suppress HtmlUnknownTarget -->
                            <form action='/list' method="POST">
                            {% if session['username'] %}
                                <button name="vote" value="upvote {{ question['id'] }}">upvote</button>
                                <button name="vote" value="downvote {{ question['id'] }}">downvote</button>
                            {% endif %}
                            </form>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="4">
                <td>
                    <a href="/list/{{ question['id'] }}">Go to {{ question[id] }} question</a><BR><br><br>
                </td>
            </tr>
        {% endfor %}
    </table>


    <a href="{{ url_for('list_tags') }}">Show tag list</a>
{% endblock %}

{% block footer %}

{% endblock %}