{% extends 'base.html' %}

{% block title %}
    Main Page
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    </div>
    <!--suppress HtmlUnknownTarget -->
    <div class="container">
    <p class="search_p">Search for phrase:</p>
    <form action='/search' method="get">
        <p><label>
            <input type="search" name="search_phrase" autofocus>
        </label></p>
        <button type="submit" id="search_submit" name="search_submit" value="true">Search</button>
    </form>
    <br><br>
{#    <a class="simple_button" href="{{ url_for('list_questions') }}">Show all questions</a>#}
{#    {% if session['username'] %}#}
{#    <a class="simple_button" href="{{ url_for('add_question') }}">Add a question</a>#}
{#    {% else %}#}
{#    <a class="simple_button" href="{{ url_for('login_user') }}">Sign in to add new question</a>#}
{#    {% endif %}#}
{#    <a class="simple_button" href="{{ url_for('list_tags') }}">Show all tags</a>#}

    <h2>Latest questions:</h2>

    <table>
        <th class="ID">ID</th>
        <th class="submission_time">Added on</th>
        <th class="views">Views</th>
        <th class="votes">Votes</th>
        <th class="title">Title</th>
        <th class="message">Message</th>
        <th class="image">Image</th>
        {#        {% for header in headers %}#}
        {#            <th>{{ header.upper().replace('', ' ') }}</th>#}
        {#        {% endfor %}#}
        {% for question in user_questions %}
            <tr>
                {% for key in question.keys() %}
                    <td>
                        {% if key != 'image' %}
                            {{ question[key] }}
                        {% else %}
                            <img src="/static/{{ question['image'] }}" alt="" width=150 height=100>
                        {% endif %}
                        {% if key == 'vote_number' %}
                            <!--suppress HtmlUnknownTarget -->
                            <form action='/list' method="POST">
                                {% if session['username'] %}
                                    <button class="button_vote plus" name="vote" value="upvote {{ question['id'] }}">+
                                    </button>
                                    <button class="button_vote minus" name="vote" value="downvote {{ question['id'] }}">
                                        -
                                    </button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                <td>
                    <a class="question" href="/list/{{ question['id'] }}">Go to {{ question[id] }} question</a><BR><br><br>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('list_tags') }}">Show tag list</a>
{% endblock %}
</div>
{% block footer %}

{% endblock %}