{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <table>
        {% for header in headers %}
            <th>
                {{ header }}
            </th>
        {% endfor %}
        {% for user in users %}
            <tr>
                {% for key in user.keys() %}
                    <td>
                        {{ user[key] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block footer %}

{% endblock %}