{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <!--suppress HtmlUnknownTarget -->
    <div class="container">
    <h3>Register:</h3>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <p><label>
            <input type="email" name="login" autofocus required placeholder="email">
            <!-pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="john.doe@email.com"-->
        </label></p>
        <p><label>
            <input type="password" name="password" required placeholder="password">
        </label></p>
        <p><label>
            <input type="password" name="password_confirm" required placeholder=" confirm password">
        </label></p>
        <p><input type="submit" value="register"></p>
    </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}