{% extends 'base.html' %}

{% block title %}
    Question
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <h1>Question</h1>
    <h3>{{ question['title'] }}</h3>
    <p>{{ question['message'] }}</p>
    <img class="image" src="/static/{{ question.image }}" alt="" width=300>

    <p><a href="/question/{{ question.id }}/new-comment">Add comment</a></p>
    <p><a href="/question/{{ question.id }}/edit">Edit question</a></p>
    <p><a href="/question/{{ question.id }}/delete">Delete question</a></p>


    <p>{% if tags %}
        tags:
        {% for tag in tags %}
            {{ tag }}
        {% endfor %}
    {% endif %}</p>
    <p><a href="/question/{{ question.id }}/new-tag">Add new tag</a></p>
    <p><a href="/question/{{ question.id }}/delete-tag">Delete tag</a></p>
    <th><strong>
        Comment Section
    </strong></th>
    <br><br>
    <table>
        <th>SUBMISSION TIME</th>
        <th>MESSAGE</th>
        {% for comment in question_comments %}
            <tr>
            <td>{{ comment['submission_time'] }}</td>
            <td>{{ comment['message'] }}</td>
            <td><a href="/comment/{{ comment['id'] }}/edit">edit</a></td>
            <td><a href="/comment/{{ comment['id'] }}/delete">delete</a></td>
        {% endfor %}
        </tr>
    </table>
    <br><br><br><br><br><br><br><br>
    <h2>Answers</h2>
    <table>
        {% for header in headers %}
            <th>{{ header.upper().replace('', ' ') }}</th>
        {% endfor %}
        {% for answer in answers %}
            <tr> {% for element in answer.values() %}
                {% if element == answer['vote_number'] %}
                    <td>
                        <form action='/list/{{ question.id }}' method="POST">
                            <button name="vote" value="upvote {{ answer['id'] }}">upvote</button>
                            {{ element }}
                            <button name="vote" value="downvote {{ answer['id'] }}">downvote</button>
                        </form>
                    </td>
                {% else %}
                    <td>{{ element }}</td>
                {% endif %}
            {% endfor %}
                <td><a href="/answer/{{ answer['id'] }}/new-comment">Add comment</a></td>

                <td><a href="/answer/{{ answer['id'] }}/edit">Edit</a></td>
                <td><a href="/answer/{{ answer['id'] }}/delete">Delete</a></td>
            </tr>
        {% endfor %}

    </table>
    <th><strong>
        Comments
    </strong></th>
    <br><br>
    <table>
        <th>SUBMISSION TIME</th>
        <th>MESSAGE</th>
        {% for comment in answer_comments %}
            <tr>
            <td>{{ comment['submission_time'] }}</td>
            <td>{{ comment['message'] }}</td>
            <td><a href="/comment/{{ comment['id'] }}/edit">edit</a></td>
            <td><a href="/comment/{{ comment['id'] }}/delete">delete</a></td>
        {% endfor %}
        </tr>
    </table>

    {% if session['username'] %}
    <p><a href="/list/{{ question.id }}/new-answer">Add an answer</a></p>
    {% else %}
    <p><a href="{{ url_for('login_user') }}">Sign in to add new answer</a></p>
    {% endif %}
    <p><!--suppress HtmlUnknownTarget -->
        <a href="/list">Back to the questions list</a></p>
{% endblock %}

{% block footer %}

{% endblock %}