{% extends 'base.html' %}

{% block title %}
    Question
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container"><h3>{{ question['title'] }}</h3>
    <p>{{ question['message'] }}</p>
    <img class="image" src="/static/{{ question.image }}" alt="" width=300>
    <br><br>
    {% if session['username'] %}
        <a class="simple_button" href="/question/{{ question.id }}/new-comment">Add comment</a>
        <a class="simple_button" href="/list/{{ question.id }}/new-answer">Add an answer</a>
    {% else %}
        <a class="simple_button" href="{{ url_for('login_user') }}">Sign in to add comment</a>
        <a class="simple_button" href="{{ url_for('login_user') }}">Sign in to add new answer</a>
    {% endif %}
    {% if question['id'] in session['added_by_user']['question'] %}
        <a class="simple_button" href="/question/{{ question.id }}/edit">Edit question</a>
        <a class="simple_button" href="/question/{{ question.id }}/delete">Delete question</a>
    {% endif %}


    <p>{% if tags %}
        tags:
        {% for tag in tags %}
            {{ tag }}
        {% endfor %}
    {% endif %}</p>
    {% if question['id'] in session['added_by_user']['question'] %}
        <a class="simple_button" href="/question/{{ question.id }}/new-tag">Add new tag</a>
        <a class="simple_button" href="/question/{{ question.id }}/delete-tag">Delete tag</a>
        <br><br>
    {% endif %}
    <h3 style="text-align:center">Comment Section</h3>
    <br><br>
    <table class="content-table">
        <th class="submission_time">Added on</th>
        <th class="message">Message</th>
        {% for comment in question_comments %}
            <tr>
            <td>{{ comment['submission_time'] }}</td>
            <td>{{ comment['message'] }}</td>
            {#            todo doesnt work if below (edit/delete link visible to all)#}
            {% if comment['id'] in session['added_by_user']['comment'] %}
                <td><a class="simple_button" href="/comment/{{ comment['id'] }}/edit">edit</a></td>
                <td><a class="simple_button" href="/comment/{{ comment['id'] }}/delete">delete</a></td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    <br><br><br><br><br><br><br><br>
    <h2>Answers</h2>
    <table>
        <th class="ID">ID</th>
        <th class="submission_time">Added on</th>
        <th class="votes">Votes</th>
        <th class="ID">Question ID</th>
        <th>Message</th>
        <th class="image">Image</th>
{#        {% for header in headers %}#}
{#            <th>{{ header.upper().replace('', ' ') }}</th>#}
{#        {% endfor %}#}
        {% for answer in answers %}
            <tr> {% for element in answer.values() %}
                {% if element == answer['vote_number'] %}
                    <td>
                        {{ element }}
                        <form action='/list/{{ question.id }}' method="POST">
                            {% if session['username'] %}
                                <button class="button_vote plus" name="vote" value="upvote {{ answer['id'] }}">+</button>
                                <button class="button_vote minus" name="vote" value="downvote {{ answer['id'] }}">-</button>
                            {% endif %}
                        </form>
                    </td>
                {% else %}
                    <td>{{ element }}</td>
                {% endif %}
            {% endfor %}
                {% if session['username'] %}
                    <td><a class="simple_button" href="/answer/{{ answer['id'] }}/new-comment">Add comment</a></td>
                {% endif %}
                {% if answer['id'] in session['added_by_user']['answer'] %}
                    <td><a class="simple_button" href="/answer/{{ answer['id'] }}/edit">Edit</a></td>
                    <td><a class="simple_button" href="/answer/{{ answer['id'] }}/delete">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
        <h3 style="text-align:center">Comment Section</h3>
    <br><br>
    <table>
        <th class="submission_time">Added on</th>
        <th class="message">Message</th>
        {% for comment in answer_comments %}
            <tr>
                <td>{{ comment['submission_time'] }}</td>
                <td>{{ comment['message'] }}</td>
                {% if comment['id'] in session['added_by_user']['comment'] %}
                    <td><a class="simple_button" href="/comment/{{ comment['id'] }}/edit">edit</a></td>
                    <td><a class="simple_button" href="/comment/{{ comment['id'] }}/delete">delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
        <!--suppress HtmlUnknownTarget -->

    </div>
{% endblock %}

{% block footer %}

{% endblock %}